# ignore all .a files
*.a

# but do track lib.a even tou're ignoring .a files above
!lib.a

# only ignore the TODO file in current directory, not subdir/TODO
/TODO
# ignore all files in any direc. named build
build/

# ignore doc/notes.txt, not doc/server/arch.txt
doc/*.txt

#ignore all .pdf files in doc/directory amd subdirectories
doc/**/*.pdf